@model ViewDataInfo
@{
    ViewBag.Title = "Entregas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Entregas</h2>
<table class="table table-bordered">
    <thead class="modal-header">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre);
            </th>
        </tr>
    </thead>
</table>
