
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div class="container">
    <div>
        <ul>
            <li>@Html.ActionLink("Entregas","entregas","reportes")</li>
        </ul>
    </div>
</div>
